/*
font-family: 'Kaushan Script', cursive;
font-family: 'Montserrat', sans-serif;
font-family: 'Droid Serif', serif;
*/

*{
	margin: 0;
	padding: 0;
}
h1{
	font-family: 'Montserrat', sans-serif;
	font-weight: 700;
	font-size: 40px;
}
p.cursi{
	font-family: 'Droid Serif', serif;
	color: #77787a; /*gris parrafo*/
	font-size: 12px;
	font-style: italic;
}
/********************NAVBAR********************/
.navbar{
	position: fixed;
	background-color: transparent;
	width: 100%;
	border: none;
}
.navbar-default .navbar-nav>li>a{
	color: #fff;
}
.navbar-default .navbar-brand{
	color: #FED136; /*amarillo claro*/
	font-family: 'Kaushan Script', cursive;
	font-size: 30px;
}

/********************HEADER*********************/
.header{
	background-image: url(../img/header-bg.jpg);
	background-size: cover;
	background-repeat: no-repeat;
	height: 100vh;
	display: flex;
	align-items: center;
}
.header .texto{
	width: 100%;
	flex-direction: column;
	text-align: center;
	color: #fff;
}
.header .texto h2{
	font-family: 'Droid Serif', serif;
	font-style: italic;
	font-size: 50px;
}
.header .texto h1{
	font-family: 'Montserrat', sans-serif;
	font-weight: 800;
	font-size: 80px;
}
.header .texto button{
	background-color: #FED136; /*amarillo claro*/
	padding: 20px 30px;
	border: none;
	font-family: 'Montserrat', sans-serif;
	font-weight: 700;
	font-size: 20px;
	margin: 20px;
}
/*****************************SERVICES*********************/
.services{
	text-align: center;
	padding: 10vh 5vh;
}
.circle {
	width: 100px;
	height: 100px;
	background: #FED136; /*amarillo claro*/
	-moz-border-radius: 50px;
	-webkit-border-radius: 50px;
	border-radius: 50px;
	display: flex;
	align-items: center;
	margin: 0 auto;
	
}
.circle i{
	margin: 0 auto;
	color: #fff;
	font-size: 50px;
}
.services h1, .services h4{
	font-family: 'Montserrat', sans-serif;
	font-weight: 700;
	
}
.services h1{
	font-size: 40px;
}
.services p{
	font-family: 'Droid Serif', serif;
	color: #77787a; /*gris parrafo*/
	font-size: 12px;
}
#services-row{
	margin: 9vh 0;
}
/************************PORTAFOLIO***********************/
.portafolio{
	background-color: #EEEEEE; /*gris claro fondo*/
	text-align: center;
	padding: 5vh 5vh;
}
.porta-group{
	margin: 0 auto;
}
.porta-img{
	background-color: #EEEEEE; /*gris claro fondo*/
	padding: 5px;
}
.margen{
	box-sizing: border-box;
	padding: 0;
	background-color: #fff;
	max-width: 400px;
}
.portafolio h1{
	font-family: 'Montserrat', sans-serif;
	font-weight: 700;
	font-size: 40px;
}
.portafolio h4{
	font-family: 'Montserrat', sans-serif;
	font-weight: 700;
}
/***********************************ABOUT**********************/
.text-about{
	text-align: center;
}

.circle-1{
	
	background-image: url(../img/1.jpg);
	background-position: center;
	background-size: cover;
	border-radius: 50%;
	width: 200px;
	height: 200px; 
}
.col-img{
	

}
.circle-2{
	background-image: url(../img/2.jpg);
	background-position: center;
	background-size: cover;
	border-radius: 50%;
	width: 200px;
	height: 200px; 
}
.circle-3{
	background-image: url(../img/3.jpg);
	background-position: center;
	background-size: cover;
	border-radius: 50%;
	width: 200px;
	height: 200px;
}
.circle-4{
	background-image: url(../img/4.jpg);
	background-position: center;
	background-size: cover;
	border-radius: 50%;
	width: 200px;
	height: 200px;
}

.izq{
	display: flex;
}
/*
.text1{
	order: 2;
}
.circulo{
	order: 1;
}
*/
