/*
font-family: 'Kaushan Script', cursive;
font-family: 'Montserrat', sans-serif;
font-family: 'Droid Serif', serif;
*/

*{
	margin: 0;
	padding: 0;
}
h1{
	font-family: 'Montserrat', sans-serif;
	font-weight: 700;
	font-size: 40px;
}
p{
	font-family: 'Droid Serif', serif;
	color: #77787a; /*gris parrafo*/
	font-size: 12px;
}
p.cursi{
	font-family: 'Droid Serif', serif;
	color: #77787a; /*gris parrafo*/
	font-size: 12px;
	font-style: italic;
}
/********************NAVBAR********************/
.navbar{
	position: fixed;
	background-color: transparent;
	width: 100%;
	border: none;
	padding: 5px;
	z-index: 9;
}
.navbar-default .navbar-nav>li>a{
	color: #fff;
	margin: 5px;
}
.navbar-default .navbar-nav>li>a:hover{
	color: #FED136; /*amarillo claro*/
	
}
.navbar-default .navbar-brand{
	color: #FED136; /*amarillo claro*/
	font-family: 'Kaushan Script', cursive;
	font-size: 30px;
}
/***********************CAMBIAS*****************/
.cambiaNav{
	background-color: #222222; /*gris mas oscuro*/
}
.cambiaNav .navbar-nav>li>a{
	
}

/********************HEADER*********************/
.header{
	background-image: url(../img/header-bg.jpg);
	background-size: cover;
	background-repeat: no-repeat;
	height: 100vh;
	display: flex;
	align-items: center;
}
.header .texto{
	width: 100%;
	flex-direction: column;
	text-align: center;
	color: #fff;
}
.header .texto h2{
	font-family: 'Droid Serif', serif;
	font-style: italic;
	font-size: 50px;
}
.header .texto h1{
	font-family: 'Montserrat', sans-serif;
	font-weight: 800;
	font-size: 80px;
}
.header .texto button{
	background-color: #FED136; /*amarillo claro*/
	padding: 20px 30px;
	border: none;
	font-family: 'Montserrat', sans-serif;
	font-weight: 700;
	font-size: 20px;
	margin: 20px;
}
.header .texto button:hover{
	background-color: #F0C327; /*amarillo oscuro*/
}
@media (max-width: 992px){
	.header{
		height: auto;
		padding-top: 90px;
	}
	.header .texto h1{
		font-size: 40px;
	}
	.header .texto h2{
		font-size: 20px;
	}

}
/*****************************SERVICES*********************/
.services{
	text-align: center;
	padding: 10vh 5vh;
}
.circle {
	width: 100px;
	height: 100px;
	background: #FED136; /*amarillo claro*/
	-moz-border-radius: 50px;
	-webkit-border-radius: 50px;
	border-radius: 50px;
	display: flex;
	align-items: center;
	margin: 0 auto;
	
}
.circle i{
	margin: 0 auto;
	color: #fff;
	font-size: 50px;
}
.services h1, .services h4{
	font-family: 'Montserrat', sans-serif;
	font-weight: 700;
	
}
.services h1{
	font-size: 40px;
}
#services-row{
	margin: 9vh 0;
}
/************************PORTAFOLIO***********************/
.portafolio{
	background-color: #EEEEEE; /*gris claro fondo*/
	text-align: center;
	padding: 5vh 5vh;
}
.porta-group{
	margin: 0 auto;
	text-align: center;
}
.porta-img{
	background-color: #EEEEEE; /*gris claro fondo*/
	padding: 9px;
	text-align: center;
	margin: 0 auto;
}
.margen{
	box-sizing: border-box;
	padding: 0;
	background-color: #fff;
	max-width: 400px;
	padding-bottom: 5px;
	margin: 0 auto;
}
.portafolio h1{
	font-family: 'Montserrat', sans-serif;
	font-weight: 700;
	font-size: 40px;
}
.portafolio h4{
	font-family: 'Montserrat', sans-serif;
	font-weight: 700;
	padding: 5px 0;
}
/***********************************ABOUT**********************/
.text-about{
	text-align: center;
	padding: 6vh 0;
}
.circle-1{	
	background-image: url(../img/1.jpg);
	background-position: center;
	background-size: cover;
	border-radius: 50%;
	width: 160px;
	height: 160px; 
}
.circle-2{
	background-image: url(../img/2.jpg);
	background-position: center;
	background-size: cover;
	border-radius: 50%;
	width: 160px;
	height: 160px; 
}
.circle-3{
	background-image: url(../img/3.jpg);
	background-position: center;
	background-size: cover;
	border-radius: 50%;
	width: 160px;
	height: 160px;
}
.circle-4{
	background-image: url(../img/4.jpg);
	background-position: center;
	background-size: cover;
	border-radius: 50%;
	width: 160px;
	height: 160px;
}
.circle-5{
	background: #FED136; /*amarillo claro*/
	background-position: center;
	background-size: cover;
	border-radius: 50%;
	wwidth: 160px;
	height: 160px;
	display: flex;
	align-items: center;
	margin: 0 auto;
}
.circle-5 h4{
	font-family: 'Montserrat', sans-serif;
	color: #fff;
	text-align: center;
	font-weight: 700;
}
.izq .text1{
	text-align: right;
	display: flex;
	flex-direction: column;
	padding-left: 100px;
}
.izq .text1 h3{
	margin: 5px 0;
	padding: 0;
	font-family: 'Montserrat', sans-serif;
	font-weight: 700;
}
.der .text2{
	text-align: left;
	display: flex;
	flex-direction: column;
	padding-right: 100px;
}
.der .text2 h3{
	margin: 5px 0;
	padding: 0;
	font-family: 'Montserrat', sans-serif;
	font-weight: 700;
}
.izq, .der, .circle-yellow{
	padding: 6vh 0;
	display: flex;
}


@media (max-width: 992px) { 
	.text1{
		order: 2;
	}
	.circulo{
		order: 1;
		padding: 0;
	}
	.text2{
		order: 2;
	}
	[class^="circle-"]{
		width: 100px;
		height: 100px;

	}
	.izq .text1{
		text-align: left;
		padding: 0 20px;
		margin: 0 0 0 30px;
	}
	.der .text2{
		padding: 0 20px;
		margin: 0 0 0 30px;
	}
	.der .text2 h3, .izq .text1 h3{
		font-size: 16px;
	}
}
/**********************TEAM*************************/
.team{
	background-color: #EEEEEE; /*gris claro fondo*/
	text-align: center;
	padding: 8vh 0;
}
.team-text{
	padding: 40px 0;
}
.team-img1{
	background-image: url(../img/1team.jpg);
	background-position: center;
	background-size: cover;
	border-radius: 50%;
	border: 5px solid #fff;
	width: 200px;
	height: 200px; 
	margin: 0 auto;
}
.team-img2{
	background-image: url(../img/2team.jpg);
	background-position: center;
	background-size: cover;
	border-radius: 50%;
	border: 5px solid #fff;
	width: 200px;
	height: 200px; 
	margin: 0 auto;
}
.team-img3{
	background-image: url(../img/3team.jpg);
	background-position: center;
	background-size: cover;
	border-radius: 50%;
	border: 5px solid #fff;
	width: 200px;
	height: 200px; 
	margin: 0 auto;
}
.team h5{
	font-family: 'Montserrat', sans-serif;
	font-weight: 700;
}
.team .icon{
	display: inline-block;
	background-color: #222222; /*gris mas oscuro*/
	border-radius: 50%;
	cursor: pointer;
}
.team i{
	font-size: 20px;
	width: 20px;
	height: 20px;
	margin: 12px;
	color: #fff;
}
.p-team{
	width: 80%;
	margin: 0 auto;
	padding: 5vh;
}
/**************************BRANDS*****************/
.brands{
	padding: 5vh 0;
	text-align: center;
}
.brand-row img{
	margin: 0 auto;
	padding: 5px 0;
}
/********************CONTACT*************************/
.contact{
	background-color: #222222; /*gris mas oscuro*/
	background-image: url(../img/map-image.png);
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
	
	text-align: center;
	padding: 8vh 0;
}
.contact h1{
	color: #fff;
}
.contact input{
	width: 80%;
    padding: 12px 20px;
    margin: 20px 0 20px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}
.contact textarea{
	width: 80%;
    padding: 12px 20px;
    margin: 20px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}
.contact-left, .contact-right{
	text-align: right;
}
.contact-right{
	text-align: left;
}
.contact button{
	background-color: #FED136; /*amarillo claro*/
	padding: 20px 30px;
	border: none;
	font-family: 'Montserrat', sans-serif;
	font-weight: 700;
	font-size: 20px;
	margin: 20px;
	color: #fff;
}
.contact button:hover{
	background-color: #F0C327; /*amarillo oscuro*/
}
.button-contact{
	text-align: center;
}
@media (max-width: 992px) { 
	.contact-left, .contact-right{
		text-align: center;
	}
	.contact-right{
		text-align: center;
	}
}
.showInput{
	background-image: url(https://cdn0.iconfinder.com/data/icons/basic-ui-elements-colored/700/010_x-3-128.png);
	background-repeat: no-repeat;
	background-size: 20px 20px;
	background-position: right;
}
/**********************FOOTER**********************/
footer{
	text-align: center;
	padding: 4vh 0;
}
footer .icon{
	display: inline-block;
	background-color: #222222; /*gris mas oscuro*/
	border-radius: 50%;
	cursor: pointer;
}
footer .icon i{
	font-size: 20px;
	width: 20px;
	height: 20px;
	margin: 5px;
	color: #fff;
}
